body{
  background-color: #afb0b1;
}

.App {
  text-align: center;
}

.nav-bg{
  background-color: black;
  padding: 10px;
}

.visit-saved {
  margin-left: 2%;
  margin-right: 2%;
}


.card-flex{
  width: 15rem;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.wrap-right-nav{
  display: flex;
  justify-content: flex-end;
  width: 35%;
  
}

.card-img{
  background-color: #282c34;
  object-fit: cover;
}

.wrap-movie-cards{
 background-color: red;
  flex: 0 0 40%;
}

.movie-container{
  width: 85%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}

.const-shadow{
  box-shadow: 0 0 15px red;
 
}

.card-shadow:hover{
  box-shadow: 0 0 15px red;
  
}

.card-img-hover:hover{
  cursor: pointer;
}

.card-body-pos{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.like-btn{
  position: absolute;
  top: -25px;
  right: -10px;
}

.wrap-movie-info{
  margin-bottom: 2%;
}

@media screen and (max-width: 750px) {
  .wrap-right-nav{
    order: 1;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 3%;
    
  }
  .visit-saved{
    margin-left: 0;
  }
  
  .wrap-left{
    order: 2;
  }

  
}

@media screen and (max-width: 500px) {
  .wrap-left{
    flex-direction: column;
    align-items: stretch;
  }

  .genre-filter-text{
    margin: 0;
  }

}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
